@import "./mainpage.css";

:root {
    --cardColor: #ffeff3;
    --cardHeaderColor: #fadde5;
    --containerColor: #aaa3a5;
    --loaderDuration: 0.5s;
    --loaderColor: #0f0f0f;
}
body {
    background-color: var(--containerColor);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(124, 123, 123);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
    font-family: champagne;
    src: url(../fonts/champagne.ttf) format("truetype");
}
#container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--containerColor);
    display: flex;
    justify-content: center;
}
.card {
    width: 600px;
    height: 150px;
    background-color: var(--cardColor);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    margin-top: 10px;
}

.card-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bus-name {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--cardHeaderColor);
}
.bus-name p {
    font-family: champagne;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
    padding-left: 15px;
}
@media (hover:none), (max-width: 768px) {
    .card {
        width: 100vw;
        height: 40vw;
    }
}

/* LOADER */

.loader {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    position: relative;
    border: 4px solid var(--loaderColor);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 20px;
    animation: loader var(--loaderDuration) infinite ease;
    align-self: center;
    justify-self: center;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: var(--loaderColor);
    animation: loader-inner var(--loaderDuration) infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }